@import "../../common/sass/base";

@media only screen and (max-width: 767px){
	#sidebar .panel-title {
		text-align: center;
	}
}
li.dropdown ul li a {
	text-align: center;
}

li.dropdown a.dropdown-toggle .img-circle {
	margin: -20px 3px -18px 5px;
}
